/* Import of dependencies */
.svg-map-marker-1, .svg-pencil, .svg-rocket, .svg-signal, .svg-user1 {
  background: url("svg/sprite.view.svg") no-repeat; }

.svg-map-marker-1 {
  background-position: 0 0; }

.svg-map-marker-1-dims {
  width: 52px;
  height: 52px; }

.svg-pencil {
  background-position: 50% 0; }

.svg-pencil-dims {
  width: 52px;
  height: 52px; }

.svg-rocket {
  background-position: 0 100%; }

.svg-rocket-dims {
  width: 52px;
  height: 52px; }

.svg-signal {
  background-position: 50% 100%; }

.svg-signal-dims {
  width: 52px;
  height: 52px; }

.svg-user1 {
  background-position: 100% 0; }

.svg-user1-dims {
  width: 52px;
  height: 52px; }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: pink; }

/* BEM approach in .sass structure */
.block {
  color: white; }
  .block__model {
    color: blue; }
    .block__model--modifier {
      color: green; }
  .block.addition {
    color: red; }
  .block .child {
    color: yellow; }
  .block:before {
    display: block;
    content: 'Before content';
    color: violet; }
  .block .new {
    color: green; }
