@charset "UTF-8";
/* Import of dependencies */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
.svg-map-marker-1, .svg-pencil, .svg-rocket, .svg-signal, .svg-user1 {
  background: url("svg/sprite.view.svg") no-repeat; }

.svg-map-marker-1 {
  background-position: 0 0; }

.svg-map-marker-1-dims {
  width: 52px;
  height: 52px; }

.svg-pencil {
  background-position: 50% 0; }

.svg-pencil-dims {
  width: 52px;
  height: 52px; }

.svg-rocket {
  background-position: 0 100%; }

.svg-rocket-dims {
  width: 52px;
  height: 52px; }

.svg-signal {
  background-position: 50% 100%; }

.svg-signal-dims {
  width: 52px;
  height: 52px; }

.svg-user1 {
  background-position: 100% 0; }

.svg-user1-dims {
  width: 52px;
  height: 52px; }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

/* BEM approach in .sass structure */
.block {
  color: white; }
  .block__model {
    color: blue; }
    .block__model--modifier {
      color: green; }
  .block.addition {
    color: red; }
  .block .child {
    color: yellow; }
  .block:before {
    display: block;
    content: 'Before content';
    color: violet; }

body {
  position: relative;
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto; }

.container_top-nav {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.banner {
  background-image: url("../assets/imgs/card-bg.jpg");
  min-height: 100vh; }

.header_logo {
  display: inline-block;
  margin: auto auto auto 20px; }

.header_nav {
  display: flex; }

.header_nav-item {
  list-style: none; }

.header_nav-link {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 50px 5px;
  height: 100%; }
  .header_nav-link:hover:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background-color: green; }

.wrapper {
  width: 100%; }

.top-nav {
  position: absolute;
  background-color: rgba(225, 225, 225, 0.3);
  z-index: 1;
  display: flex; }

a:hover {
  color: #18cfab; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.title-1 {
  color: #ffffff;
  font-size: 35pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }
  .title-1 .theme {
    color: #18cfab; }

.title-2 {
  color: #ffffff;
  font-size: 79pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.title-3 {
  color: #ffffff;
  font-size: 34pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-transform: capitalize; }

.btn-links {
  padding: 60px 2px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #d0e5a4;
  text-transform: uppercase;
  text-align: center; }
  .btn-links--green {
    position: relative;
    margin: 50px 40px 50px 50px;
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    background-color: #18cfab;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0px 6px 0 0 #ffffff;
    -moz-box-shadow: inset 0px 6px 0 0 #ffffff;
    -webkit-box-shadow: inset 0px 6px 0 0 #ffffff; }
  .btn-links--blue {
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    background-color: #00cbf6;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0px 6px 0 0 #ffffff;
    -moz-box-shadow: inset 0px 6px 0 0 #ffffff;
    -webkit-box-shadow: inset 0px 6px 0 0 #ffffff; }

.four_option {
  width: 100%;
  display: flex;
  height: 368px; }

[class^="option"] {
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
  text-align: center;
  padding: 2px; }

.option-dark {
  background-color: #1c2a33;
  color: #18cfab;
  border-top: 5px solid #18cfab; }

.option-light {
  background-color: #18cfab;
  color: #ffffff;
  border-top: 5px solid #ffffff; }

[class^="icon"] {
  background-repeat: no-repeat;
  background-position: center;
  height: 70%; }

.icon-1 {
  background-image: url(../assets/imgs/four_option/option_1.png); }

.icon-2 {
  background-image: url(../assets/imgs/four_option/option_2.png); }

.icon-3 {
  background-image: url(../assets/imgs/four_option/option_3.png); }

.icon-4 {
  background-image: url(../assets/imgs/four_option/option_4.png); }

.feature {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding-bottom: 50px; }

.feature_headline {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36pt;
  padding-top: 100px;
  display: inline-block;
  position: relative;
  text-decoration: none; }
  .feature_headline:before, .feature_headline:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #18cfab;
    left: 50%;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .feature_headline:before {
    transform: translateX(-75%);
    bottom: -15px; }
  .feature_headline:after {
    transform: translateX(-25%);
    bottom: -20px; }

[class^="block"] {
  flex: 1;
  margin: 40px; }

[class^="subblock"] {
  width: 33.33%;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  padding: 0 15px; }

[class^="feature-icon"] {
  background-repeat: no-repeat;
  background-position: left;
  padding: 35px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18pt; }

.feature-icon-retina {
  background-image: url(../assets/imgs/features/retina_icon.png); }

.feature-icon_parallax {
  background-image: url(../assets/imgs/features/parallax_icon.png); }

.feature-icon_creative {
  background-image: url(../assets/imgs/features/creative_icon.png); }

.feature-icon_blog {
  background-image: url(../assets/imgs/features/blog_icon.png); }

.feature-icon_amazing {
  background-image: url(../assets/imgs/features/amazing_icon.png); }

.feature-icon_mega {
  background-image: url(../assets/imgs/features/mega_icon.png); }

.feature-icon_icon {
  background-image: url(../assets/imgs/features/icon_icon.png); }

.feature-icon_seo {
  background-image: url(../assets/imgs/features/seo_icon.png); }

.feature-icon_custom {
  background-image: url(../assets/imgs/features/custom_icon.png); }

.wrapper_about {
  background-image: url(../assets/imgs/tablet-bg.jpg);
  min-height: 970px;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9; }

.container_about {
  min-height: 700px;
  width: 100%;
  padding-left: 40%; }

h1.about_headline {
  display: inline-block;
  text-transform: capitalize;
  text-align: right;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 36pt;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  position: relative; }
  h1.about_headline:before, h1.about_headline:after {
    content: "";
    display: block;
    position: absolute;
    width: 74px;
    height: 3px;
    background-color: #18cfab;
    left: 50%;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  h1.about_headline:before {
    transform: translateX(-75%);
    bottom: 80px; }
  h1.about_headline:after {
    transform: translateX(-25%);
    bottom: 85px; }

.about_section-tab {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-transform: uppercase;
  padding: 10px 0px; }
  .about_section-tab:hover {
    cursor: pointer; }
  .about_section-tab.active:after, .about_section-tab:hover:after {
    display: block;
    content: '';
    position: absolute;
    top: -3px;
    height: 3px;
    width: 100%;
    background-color: #18cfab; }

.tabs_about_headline {
  position: relative;
  margin: 0px; }

.tab_content {
  display: none;
  position: absolute;
  padding: 30px 0;
  left: 0;
  top: 50px;
  width: 100%; }
  .tab_content.active {
    display: block; }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked + .tab_content {
    display: block; }

.skill_item {
  border: 1px solid #959595;
  border-radius: 5px;
  margin-bottom: 20px; }

.skill_bg {
  padding: 15px;
  text-transform: uppercase;
  color: white; }

.skill-70 {
  background-color: #9c5da5;
  width: 70%; }

.skill-80 {
  background-color: #11b0de;
  width: 80%; }

.skill-60 {
  background-color: #d67f7f;
  width: 60%; }

.skill-85 {
  background-color: #20bc9d;
  width: 85%; }

.skill-90 {
  background-color: #bb8a36;
  width: 90%; }

.wrapper_ourwork {
  background-image: #f8fcfe;
  min-height: 350px;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9; }

.container_ourwork {
  min-height: 300px;
  width: 100%; }

.ourwork_headline {
  text-transform: capitalize;
  text-align: center;
  font-size: 36pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  padding-top: 100px; }
  .ourwork_headline:before, .ourwork_headline:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #18cfab;
    left: 50%;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .ourwork_headline:before {
    transform: translateX(-75%);
    bottom: -15px; }
  .ourwork_headline:after {
    transform: translateX(-25%);
    bottom: -20px; }

/* Базовый контейнер табов */
.tabs_our-work {
  min-width: 320px;
  max-width: 900px;
  padding: 0px;
  margin: 0 auto;
  padding-top: 100px;
  user-select: none; }

/* Стили секций с содержанием */
.tabs_our-work > section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd; }

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Прячем чекбоксы */
.tabs_our-work > input {
  display: none;
  position: absolute; }

/* Стили переключателей вкладок (табов) */
.tabs_our-work > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0; }

/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs_our-work > label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px; }

/* Изменения стиля переключателей вкладок при наведении */
.tabs_our-work > label:hover {
  color: #888;
  cursor: pointer; }

/* Стили для активной вкладки */
.tabs_our-work > input:checked + label {
  color: #555;
  border-top: 3px solid #18cfab;
  border-bottom: 1px solid #fff;
  background: #fff; }

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4, #tab5:checked ~ #content-tab5 {
  display: block; }

/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
@media screen and (max-width: 680px) {
  .tabs_our-work > label {
    font-size: 0; }
  .tabs_our-work > label:before {
    margin: 0;
    font-size: 18px; } }

/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
  .tabs_our-work > label {
    padding: 15px; } }

.works {
  display: flex;
  flex-wrap: wrap; }

.container_works {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%; }
  .container_works [class^="grid_works"] {
    flex-basis: 25%;
    max-width: 21%;
    height: 240px;
    border: 1px solid red;
    background-image: url("https://loremflickr.com/320/240"); }

.btn-links--lime {
  position: relative;
  margin: 20px 20px 10px 360px;
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #ffffff;
  border-radius: 5px 5px 5px 5px;
  background-color: #18cfab;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 6px 0 0 #ffffff;
  -moz-box-shadow: inset 0px 6px 0 0 #ffffff;
  -webkit-box-shadow: inset 0px 6px 0 0 #ffffff; }

.services {
  display: flex;
  flex-wrap: wrap;
  min-height: 370px;
  width: 100%; }

.ourservices_headline {
  text-transform: capitalize;
  text-align: center;
  font-size: 36pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  padding-top: 100px; }
  .ourservices_headline:before, .ourservices_headline:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #18cfab;
    left: 50%;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .ourservices_headline:before {
    transform: translateX(-75%);
    bottom: -15px; }
  .ourservices_headline:after {
    transform: translateX(-25%);
    bottom: -20px; }

/* Базовый контейнер табов */
.tabs_ourservices {
  min-width: 320px;
  max-width: 1400px;
  padding: 0px;
  margin: 0 auto;
  padding-top: 100px;
  user-select: none; }

/* Стили секций с содержанием */
.tabs_ourservices > section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd; }

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Прячем чекбоксы */
.radio {
  display: none;
  position: absolute; }

/* Стили переключателей вкладок (табов) */
.radio_label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0; }

/* Шрифт-иконки от Font Awesome в формате Unicode */
.radio_label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px; }

/* Изменения стиля переключателей вкладок при наведении */
.radio_label:hover {
  color: #888;
  cursor: pointer; }

/* Стили для активной вкладки */
.radio:checked + .radio_label {
  color: #555;
  border-top: 3px solid #18cfab;
  border-bottom: 1px solid #fff;
  background: #fff; }

/* Активация секций с помощью псевдокласса :checked */
#tab11:checked ~ #content-tab11,
#tab12:checked ~ #content-tab12,
#tab13:checked ~ #content-tab13,
#tab14:checked ~ #content-tab14,
#tab15:checked ~ #content-tab15,
#tab16:checked ~ #content-tab16 {
  display: block; }

/* Убираем текст с переключателей 
    * и оставляем иконки на малых экранах
    */
@media screen and (max-width: 680px) {
  .tabs_ourservices > label {
    font-size: 0; }
  .tabs_ourservices > label:before {
    margin: 0;
    font-size: 18px; } }

/* Изменяем внутренние отступы 
    *  переключателей для малых экранов
    */
@media screen and (max-width: 400px) {
  .tabs_ourservices > label {
    padding: 15px; } }

.info_ourservices {
  min-height: 200px;
  display: flex;
  width: 100%;
  padding: 100px; }

.container_ourservices {
  min-height: 200px; }

.img_ourservices {
  background-image: url(../assets/imgs/services.png);
  height: 240px;
  float: left;
  width: 25%; }

.text_ourservices {
  width: 70%;
  height: 240px;
  float: right; }

.wrapper_installnow {
  flex-direction: column;
  min-height: 200px;
  display: flex;
  width: 100%;
  padding: 100px;
  background-image: url(../assets/imgs/pc-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9; }

.content1_installnow {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40pt;
  text-transform: uppercase;
  text-align: center;
  color: #18cfab;
  margin: auto; }

.content2_installnow {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  color: #696e71;
  margin: auto; }

.btn-installnow {
  padding: 60px 2px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #d0e5a4;
  text-transform: uppercase;
  text-align: center; }
  .btn-installnow--green2 {
    position: relative;
    margin: 50px 40px 50px 50px;
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    background-color: #18cfab;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0px 6px 0 0 #ffffff;
    -moz-box-shadow: inset 0px 6px 0 0 #ffffff;
    -webkit-box-shadow: inset 0px 6px 0 0 #ffffff; }

.breakingnews_headline {
  text-transform: capitalize;
  text-align: center;
  font-size: 36pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  padding-top: 100px; }
  .breakingnews_headline:before, .breakingnews_headline:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #18cfab;
    left: 50%;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .breakingnews_headline:before {
    transform: translateX(-75%);
    bottom: -15px; }
  .breakingnews_headline:after {
    transform: translateX(-25%);
    bottom: -20px; }
