%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-map-marker-1 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-map-marker-1-dims {
	width: 512px;
	height: 512px;
}

.svg-pencil {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-pencil-dims {
	width: 512px;
	height: 512px;
}

.svg-rocket {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-rocket-dims {
	width: 512px;
	height: 512px;
}

.svg-search {
	@extend %svg-common;
	background-position: 69.74208369458688% 50.207547410339814%;
}

.svg-search-dims {
	width: 67.733px;
	height: 4.233px;
}

.svg-signal {
	@extend %svg-common;
	background-position: 50% 100%;
}

.svg-signal-dims {
	width: 512px;
	height: 512px;
}

.svg-user1 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-user1-dims {
	width: 512px;
	height: 512px;
}

